<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 20%;">
    <a href="/admin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <i class="fas fa-home"></i>&nbsp;<span class="fs-4">Dashboard</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a href="{{ path('admin_dashboard') }}" class="nav-link text-white {{ app.request.get('_route') == 'admin_dashboard' ? 'active' }}">
          <i class="fas fa-tachometer-alt"></i> Dashboard
        </a>
      </li>
      <li>
        <a href="{{ path('admin_products_list') }}" class="nav-link text-white {{ app.request.get('_route') == 'admin_products_list' ? 'active' }}">
          <i class="fab fa-product-hunt"></i>
          Products
        </a>
      </li>
      <li>
        <a href="/admin/users" class="nav-link text-white">
          <i class="fas fa-file-invoice-dollar"></i>
          Invoices
        </a>
      </li>
      <li>
        <a href="/admin/users" class="nav-link text-white">
          <i class="fas fa-users"></i>
          Customers
        </a>
      </li>
    </ul>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" target='_blank' class="nav-link text-white" aria-current="page">
          Voir le site
        </a>
      </li>
    </ul>
</div>